<% if !@my_trips.nil? %>
<div id="trip_list">
  <% @my_trips.each do |trip| %>
    <div class="card border-light mb-3">
    <div class="trip_card card-body text-dark">
      <div class="icon_flag">
      <%= image_tag("flag_trip.png") %>
      </div>
      <div class="trip_details">
    <h5 class="card-title"><%= trip.location %></h5>
      <p><%= trip.date_s %> - <%= trip.date_e %></p>
      </div>
    </div>
    </div>
  <% end %>
</div>
  <% else %>
  <div id="trip_list_empty">
    <p>There is not trips available.<br/> Add a trip trip to see it in here</p>
  </div>
<% end %>