<div id="review_section">
  <% unless reviewed?(@trip.id) %>
    <div id="review_form_input">
      <div>
        <h5>Leave a Review</h5>
      </div>
      <div id="rating-form">
        <label> Rating </label>
      </div>
      <div id="input_textarea">
        <label> Review </label>
        <textarea id="review_text"></textarea>
      </div>
      <div id="submit_button">
        <input type="button" id="review_submit" value="submit">
      </div>
    </div>
  <% end %>

  <div id="review_view">
    <%= render partial: 'trips/reviews_view', locals: {reviews: @reviews, trip: @trip} %>
  </div>

</div>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });

    $('#review_submit').on("click", function () {
        addComment();
    })
    function addComment() {
        $.ajax({
            url: "/api/v1/reviews",
            type: "POST",
            data: {
                "review": {
                    "user_id": <%= current_user.id %>,
                    "trip_id": <%= @trip.id %>,
                    "rating": $('#rating-form input').val(),
                    "description": $('#review_text').val()
                },
                success: function () {
                    var next = $("#rating-form");
                    next.raty('score', 0);
                    $('#review_text').val("");
                }
            }
        });
    }

</script>
