<div class="d-flex justify-content-start mb-4">
  <div class="img_cont_msg">
    <%= image_tag user_avatar(message.user, 40), class: "rounded-circle" %>
  </div>
  <div class="msg_cotainer">
    <div class="text_body">
      <%= message.body %>
    </div>
    <div class="msg_time"><%= time_ago_in_words(message.created_at) %> ago by <%= message.user.name %></div>
  </div>
</div>