<div class="container messages">
<div class="card text-center">
  <div class="card-header">
    Messages
  </div>
  <div id="messages">
  <div class="card-body" id="message_container">
    <%= render @messages %>
  </div>
  </div>
  <div class="card-footer text-muted">
    <%= form_for(@message, url: message_create_path, remote: true) do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, class: "form-control", placeholder: "Type message"%>
      <div class="input-group-append">
        <%= f.button "Send", class: "btn btn-outline-secondary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<script>
  scroll_bottom = function () {
      if($('#messages').length>0){
          $('#messages').scrollTop($('#messages')[0].scrollHeight)
      }
  }

  submit_message = function(){
      $('#message_body').on('keydown', function (e) {
          if(e.keyCode == 13) {
              $('.input-group-append button').click();
              $('#message_body').val("");
          }
      })
  }

  $(document).on('turbolinks:load', function(){
      scroll_bottom()
      submit_message()
  })
</script>