<div id="users">
  <div>
    <h3>Users List</h3>
<!--  </div>-->
<!--  <div class="userslist">-->
<%# @user_list["data"].each do |user| %>
<!--    <div class="card user user_list">-->
<!--      <p><%#= user["name"]%></p>-->
<!--    </div>-->
  <%# end %>
  </div>
</div>