<div class="container homepage">
  <%= render :partial => 'welcome/trip_section', locals: { trips: @trips } %>
 <div id="users" class="col-md-4 col-sm-12">
   <%= render :partial => 'welcome/user_section'%>
 </div>
</div>
