<div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
      <h6 class="card-price text-center">$15<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
      </ul>
      <% if current_user.has_role? :pro_user_1 %>
      <% elsif current_user.has_role? :pro_user_2 %>
      <% elsif current_user.has_role? :pro_user_3 %>
      <% else %>
      <%= link_to "Buy now", new_payment_path(id: "3"), class: "btn btn-block btn-primary text-uppercase"  %>
        <% end %>
    </div>
  </div>
</div>