<div class="container pricing">
  <div class="row">
    <!-- Free Tier -->
    <%= render partial: 'payments/pro_user_1' %>
    <!-- Plus Tier -->
    <%= render partial: 'payments/pro_user_2' %>
    <!-- Pro Tier -->
    <%= render partial: 'payments/pro_user_3' %>
  </div>
</div>