@import "bootstrap";
@import "font-awesome";

html, body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.login-form {
  width: 340px;
  align-self: center;
}

.login-form form {
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  margin-top: 15px;
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.login-form .clearfix{
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
}

.login-form .clearfix2{
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.footer{
  height: 100px;
  background-color: #343a40;
  position: relative;
  text-align: center;
}

footer .container{
  display: inline-block;
  margin-top: 40px;
}
footer p{
  margin: 0 auto;
  color: #aaaaaa;
}

.alert {
  max-height: 75px;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.alert.alert-dismissible{
  margin-top: 15px;
}

.navbar{
  height: 75px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  width: 600px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form_group select{
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

.container.homepage{
  display: flex;
  margin: 50px auto;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-around;
}

#trips{
  width: 750px;
  background-color: lightgrey;
}

#users{
  width: 300px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove_alert{
  position: absolute;
  top: 75px;
  width: 100%;
}

.userslist{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.user.user_list{
  width: 225px;
  height: 100px;
}

.edit_profile.container{
  min-height: 100vh;
  background-color: lightgray;
  margin: 0 auto 50px auto;
  padding: 50px;
}

.edit_profile .field.form-group{
  display: flex;
  align-items: baseline;
}

.edit_profile .form-group.picture{
  display: flex;
  flex-direction: column;
}

.nav.nav-tabs.container{
  margin-top: 50px;
}

.form-group select{
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

#followers_tab, #user_followers_tab{
  min-height: 100vh;
  background-color: lightgray;
  margin: 0 auto 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

#following_tab, #user_following_tab{
  min-height: 100vh;
  background-color: lightgray;
  margin: 0 auto 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container#user_profile{
  min-height: 100vh;
  background-color: lightgray;
  margin: 0 auto 50px auto;
  padding: 50px;
}
.container#user_profile .field.form-group{
  display: flex;
  align-items: baseline;
}

.container#user_profile.form-group.picture{
  display: flex;
  flex-direction: column;
}

.image_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}