@import "bootstrap";
@import "font-awesome";

html, body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

.login-form {
  width: 340px;
  align-self: center;
}

.login-form form {
  background-color: white;
  border:1px solid rgba(0, 0, 0, 0.125);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  margin-top: 15px;
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.login-form .clearfix{
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
}

.login-form .clearfix2{
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.footer{
  height: 100px;
  background-color: #343a40;
  position: relative;
  text-align: center;
}

footer .container{
  display: inline-block;
  margin-top: 40px;
}
footer p{
  margin: 0 auto;
  color: #aaaaaa;
}

.alert {
  max-height: 75px;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.alert.alert-dismissible{
  margin-top: 15px;
}

.navbar{
  height: 75px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  width: 600px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form_group select{
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

.container.homepage{
  display: flex;
  margin: 50px auto;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-around;
}

#trips{
  width: 750px;
}

#users{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  .card{
    border-color:rgba(0, 0, 0, 0.125);
  }
}

.remove_alert{
  position: absolute;
  top: 75px;
  width: 100%;
  .alert{
    max-height: 50px;
    text-align: center;
  }
  .alert.alert-dismissible{
    margin-top: 0;
  }
}

.userslist{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user.user_list{
  width: 225px;
  height: 100px;
}

#user_list .single_user{
  max-width: 18rem;
}

.edit_profile.container{
  min-height: 100vh;
  margin: 0 auto 50px auto;
  padding: 50px;
  border:1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
}

.edit_profile .field.form-group{
  display: flex;
  align-items: baseline;
}

.edit_profile .form-group.picture{
  display: flex;
  flex-direction: column;
}

.nav.nav-tabs.container{
  margin-top: 50px;
  display: flex;
}

.form-group select{
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

#followers_tab, #user_followers_tab{
  min-height: 100vh;
  border:1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  margin: 0 auto 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tab-pane .single_user{
  margin-right:20px;
}

#following_tab, #user_following_tab{
  min-height: 100vh;
  border:1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  margin: 0 auto 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container#user_profile{
  min-height: 100vh;
  border:1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  margin: 0 auto 50px auto;
  padding: 50px;
}
.container#user_profile .field.form-group{
  display: flex;
  align-items: baseline;
}

.container#user_profile.form-group.picture{
  display: flex;
  flex-direction: column;
}

.image_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image_card > div:nth-child(2){
  padding-left: 20px;
}

.user_btn_front{
  margin-top: 0;
}

.stylediv{
  flex-grow: 1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.image_section{
  background-color: #EFEFEF;
}
.image_section > div:nth-child(1){
  display: flex;
  justify-content: flex-end;
}

.image_section > div:nth-child(1) > span{
  margin-right: 20px;
}

.btn-file.user_images  label{
  margin: 0
}

.mytrips{
  margin: 20px 0;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:1px solid rgba(0, 0, 0, 0.125);
}

.mytrips > div:nth-child(1){
  width: 450px;
  margin: 20px 0;
}

.mytrips > div:nth-child(2){
  width: 600px;
  background-color: #EFEFEF;
  margin: 20px 0;
}

.mytrips .date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#trip_list_empty{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  p {
    font-size: 20px;
    font-weight: bold;
  }
}

#trip_list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  .card{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    cursor: pointer;
   #arrow_icon{
      width: 30px;
      height: 30px;
    }
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

.trip_card{
  display: flex;
  flex-direction: row;
  width: 25rem;
  max-height: fit-content;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  .icon_flag img{
    height: 30px;
    width: 40px;
    filter: invert(0.5);
    margin-right: 20px;
  }
}

.map{
  width: 100%;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .trip_list_profile{
    width: 45%;
    height: 90%;
  }
  #map{
    width: 45% !important;
    height: 90% !important;
  }
}

.trip_links{
  cursor: pointer;
  display: flex;
  align-items: center;
}

#first_item {
  display: flex;
  flex-direction: row;
  a{
    align-self: center;
    padding-left: 20px;
  }
  a:hover, a:active, a:visited, a:link{
    text-decoration: none;
  }
}

#trips .card-body{
  padding: 0;
}

#trips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  .col-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

#trips .card{
  height: max-content;
  margin-bottom: 20px;
}

#location{
  a:hover{
    text-decoration: none;
  }
}

.trip_show{
  min-height: 100vh;
  margin: 50px 0;
  display: flex;
  padding: 15px;
  flex-direction: column;
  > div{
    margin-bottom: 15px;
  }
  .user_trip{
    display: flex;
    flex-direction: row;
  }
  .checked{
    color: orange;
  }
  #big_image img{
    width: 100%;
    height: 450px;
  }
  .breadcrumb{
    padding: 0;
    background-color: transparent;
  }
  #name_under_photo{
    border-left: 5px solid #666666;
    h4{
      font-weight: 500;
      margin-left: 20px;
    }
  }
  #name_date{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    p{
      margin-top: -10px;
    }
  }
}

#new_trip{
  margin: 20px 0;
}

.form_errors{
  font-size: 12px;
  color: #B00100;
  p{
    margin: 0;
  }
}

.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.show_trip{
  z-index: 9999;
}

.card.my_trips{
  width: 400px;
}

#review_form_input{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  #input_textarea{
    display: flex;
    flex-direction: row
  }
  textarea{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;
    min-width: 400px;
    width: 50%;
  }
  div{
    margin-bottom: 20px;
    label{
      margin-right: 20px;
    }
    h5{
      font-weight: 600;
    }
    input[type=button]{
      width: max-content;
    }
  }
  #submit_button{
    margin-left: 70px;
  }
}

.reviews{
  display: flex;
  flex-direction: column;
  .review_title{
    display: flex;
    flex-direction: row;
    div{
      padding-right: 20px;
    }
    #name{
      align-self: center;
    }
    #star_rating{
      align-self: center;
    }
    #vertical_line_review{
      align-self: center;
    }
  }
  .review_description{
    padding: 15px;
    div:nth-child(1){
      padding-bottom: 10px;
    }
  }
  .single_review{
    margin-bottom: 30px;
    padding: 20px;
    background-color: aliceblue;
  }
  #delete_review{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
  }
}