<footer class="footer">
  <div class="container">
    <p class="text-center">New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>